#advert{
	height: 0px;
	position: relative;
	overflow: hidden;
}
#ad1{
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	display: none;
	cursor: pointer;
}
#ad2{
	width: 100%;
	height: 500px;
	position: absolute;
	cursor: pointer;
	top: 0;
}
#swiper{
	height: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#swiper_{
	width: 100%;
}
#swiper-wrapper{
	width: 600%;
    overflow: hidden;
    position:relative;
    left: 0px;
    z-index: 0;
    transition: all .5s; 
}
.swiper-move{
	width: 16.66666%;
	height: 400px;
	float: left;
}
#pagination{
	margin-right: -195px;
    bottom: 25px;
    left: 50%;
    z-index: 1;
    position: absolute;
    margin-left: -60px;
}
#pagination span{
	cursor: pointer;
    width: 12px;
    height: 12px;
    background-position: -480px -14px;
    background-image: url(../img/tet_sprit01.png);
    background-repeat: no-repeat;
    margin: 0 4px;
    display: inline-block;
}
#ni_le{
	position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    margin-left: -600px;
}
#flfun{
	float: left;
    width: 240px;
    height: 382px;
    padding-top: 18px;
    background: rgba(0,0,0,0.8);
}
#flfun>li{
	height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 14px;
}
#flfun>li:hover{
	background: rgb(34,149,255);
}
.conp{
	font-size: 14px;
    color: #FFF;
    margin-left: 45px;
    width: 143px;
    display: inline-block;
}
.conp a{
	color: inherit;
}
.conp1:hover{
	color: rgb(34,149,255);
}
.arrwrig{
	font-size: 16px;
    color: #FFF;
    display: inline-block;
}
.flcon{
	float: left;
    width: 90px;
    height: 398px;
    background: #FFF;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    display: none;
}
.flcon>li{
	text-align: center;
    font-size: 12px;
    color: #666666;
}
.flcon>li>a{
	display: block;
    color: #666666;
}
.bg01{
	background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    background-position: -73px -68px;
    width: 46px;
    height: 34px;
    margin: 42px auto 0;
}
.bg02{
	background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    background-position: -124px -65px;
    width: 39px;
    height: 37px;
    margin: 20px auto 0;
}
.bg03{
	background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    background-position: -171px -59px;
    width: 42px;
    height: 43px;
    margin: 20px auto 0
}
.bg04{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    background-position: -220px -64px;
    width: 44px;
    height: 32px;
    margin: 19px auto 0;
}
.bg05{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    background-position: -269px -61px;
    width: 47px;
    height: 37px;
    margin: 19px auto 0;
}
.conp1{
	line-height: 32px;
	padding: 0;
    margin: 0;
    font-size: 14px;
    color: #666666;
}
#ni_ri{
    width: 269px;
    height: 400px;
    position: absolute;
    z-index: 2;
    background: #FFF;
    background: rgba(255,255,255,0.8);
    left: 50%;
    margin-left: 331px;
    top: 0;
}
#tit{
    width: 233px;
    height: 67px;
    margin: 0 auto;
    border-bottom: 1px solid #bcb7c0;
    overflow: hidden;
}
#tit div{
	float: left;
}
#bg{
	background-position: -324px -50px;
    width: 31px;
    height: 31px;
    margin-top: 28px;
}
#titp{
    font-size: 18px;
    color: #444444;
    line-height: 86px;
    margin-left: 11px;
}
#more{
	font-size: 14px;
    color: #444444;
    line-height: 88px;
    float: right;
    margin-right: 10px;
}
#pname{
	width: 233px;
    overflow: hidden;
    margin: 7px auto 0;
}
#pname a{
	font-size: 13px;
    line-height: 38px;
    display: block;
	cursor: pointer;
    
}
#pname a span{
    margin: 0 3px;
}
.pnamee{
	color: #444444;
}
.pnamee:hover{
	color: rgb(34,149,255);
}
.ni_pio{
	width: 1200px;
    margin: 30px auto 0;
    overflow: hidden;
}
.ni_pio li{
    float: left;
    margin-left: 12px;
    height: 182px;
    text-align: center;
}
.ni_pio h1{
	    font-size: 16px;
    color: #ffffff;
    line-height: 64px;
}
.li00{
	    background: url(../img/ni_pio_li00.png) 0 0 no-repeat;
    width: 240px;
}
#bg00{
	background-position: -364px -50px;
    width: 63px;
    height: 63px;
    margin: 40px auto 0;
    transition: all 2s; 
}
#bg00:hover{
	transform: rotateY(360deg);
}
#bg02{
	background-position: -2px -124px;
    width: 78px;
    height: 62px;
    margin: 40px auto 0;
     transition: all 2s; 
}
#bg02:hover{
	transform: rotateY(360deg);
}
#bg03{
    background-position: -88px -124px;
    width: 80px;
    height: 63px;
    margin: 40px auto 0;
    transition: all 2s; 
}
#bg03:hover{
	transform: rotateY(360deg);
}
#bg01{
    background-position: -434px -50px;
    width: 63px;
    height: 63px;
    margin: 40px auto 0;
    transition: all 2s; 
}
#bg01:hover{
	transform: rotateY(360deg);
}
#bg04{
	background-position: -177px -124px;
    width: 69px;
    height: 64px;
    margin: 40px auto 0;
    transition: all 2s; 
}
#bg04:hover{
	transform: rotateY(360deg);
}
#bg05{
    background-position: -257px -124px;
    width: 65px;
    height: 65px;
    margin: 40px auto 0;
    transition: all 2s; 
}
#bg05:hover{
	transform: rotateY(360deg);
}
.li02{
	background: #6ccdc6;
    width: 180px;
}
.li03{
	background: #ec9b5a;
    width: 180px;
}
.li01{
	background: #83c973;
    width: 180px;
}
.li04{
    background: url(../img/ni_pio_li04.png) 0 0 no-repeat;
    width: 180px;
}
.li05{
    background: #649eee;
    width: 180px;
}
#jyqj{
	width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
#thebg{
	    background-position: -334px -124px;
    width: 27px;
    height: 27px;
    margin-top: 30px;
    float: left;
}
#jyqj h1{
	color: #444444;
    font-size: 22px;
    height: 72px;
    margin-left: 13px;
    line-height: 90px;
    float: left;
}
#ni_good_tit{
    width: 1200px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}
.wid111{
	float: left;
    height: 48px;
    background: #36a8ff;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
	width: 111px;
}
.wid155{
	float: left;
	height: 48px;
    background: #36a8ff;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
	width: 155px;
}
.wid161{
	float: left;
	height: 48px;
    background: #36a8ff;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
	width: 161px;
}
.wid226{
	float: left;
	height: 48px;
    background: #36a8ff;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
	width: 226px;
}
.wid230{
	float: left;
	height: 48px;
    background: #36a8ff;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
	width: 230px;
}
.wid317{
	float: left;
	height: 48px;
    background: #36a8ff;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
	width: 317px;
}
#list{
	width: 1200px;
	height: 314px;
	/*overflow: hidden;*/
	margin: 0 auto;
}
#listcontent{
	width: 1200px;
	height:314px ;
	overflow: hidden;
	position: relative;
}
#listcontent ul{
	position: absolute;
	top: 0;
}
#listcontent ul li{
	width: 1200px;
	height: 45px;
	font-size: 14px;
}
#listcontent div{
	width: 1200px;
	height: 44px;
	border-bottom: solid 1px #aaaaaa;
	line-height: 44px;
	color: #333333;
}
#listcontent div p{
	float: left;
	color: #666666;
	text-align: center;
}
.ni_adv{
	margin: 29px auto;
    display: block;
    width: 1200px;
}
.ni_con{
	background: #eeeeee;
    width: 100%;
    padding-bottom: 40px;
    overflow: hidden;
}
.ni_conli{
    width: 1200px;
    margin: 40px auto 0;
    font-size: 14px;
    overflow: hidden;
}
.sub{
	background: #d2e8fd;
	width: 240px;
    height: 349px;
    position: relative;
    float: left;	
}
.class01{
	margin-left: 10px;
    text-align: center;
    float: left;
}
.class02{
	margin-left: 10px;
    text-align: center;
    width: 230px;
    height: 349px;
    background: #FFF;
    text-align: center;
    position: relative;
    display: block;
    float: left;
}
.thetime01{
    float: left;
    margin-left: 10px;
}
#bgx{
	background: url(../img/tet_sprit02.png) -100px -56px no-repeat;
    width: 182px;
    height: 220px;
    margin: 42px auto 0;
}
#img01{
	position: absolute;
    left: 0;
    top: 0px;
    overflow: hidden;
    width: 240px;
    height: 280px;
}
#zone01{
	width: 240px;
    height: 70px;
    position: absolute;
    top: 280px;
    left: 0px;
    background: url(../img/tet_sprit03.png) -735px -442px no-repeat;
    z-index: 2;
}
#zone01 p{
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 29px;
    font-weight: bold;

}
.updown{
	position: absolute;
	top: 0;
	left: 50px;
}
.zone01{
    width: 230px;
    height: 170px;
    background: #ffffff;
    overflow: hidden;
    display: block;
    position: relative;
    
}
#thebg01{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    background-position: -669px -90px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#the_line{
	background: url(../img/tet_sprit01.png) no-repeat;
    background-position: -507px -96px;
    display: block;
    width: 139px;
    height: 3px;
    margin: 0 auto;
    margin-top: 9px;
	margin-left: -69.5px;
    
}
.lineline{
	position: absolute;
	top: 110px;
	left: 50%;
}
.theh1{
	color: #444444;
    font-size: 16px;
    margin-top: 16px;
    
}
.h101{
	position: absolute;
    top: 120px;
	left: 60px;
}
.h102{
	position: absolute;
    top: 120px;
	left: 40px;
}
.h103{
	position: absolute;
    top: 120px;
	left: 85px;
}
.h104{
	position: absolute;
    top: 120px;
	left: 80px;
}
#thebg02{
	background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    background-position: -966px -90px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
.mxy_em_11{
	width: 52px;
    height: 94px;
    left: 17px;
    top: 131px;
    display: block;
    transition: all .4s; 
    position: absolute;
    background: url(../img/tet_sprit03.png) -23px -263px no-repeat;
}
.mxy_em_22{
	width: 30px;
    height: 116px;
    left: 179px;
    display: block;
    position: absolute;
    top: 97px;
    transition: all .4s; 
    background: url(../img/tet_sprit03.png) -168px -252px no-repeat;
}
.mxy_em_021{
	width: 52px;
    height: 94px;
    left: 17px;
    top: 131px;
    display: block;
    transition: all .4s; 
    position: absolute;
    background: url(../img/tet_sprit03.png) -23px -263px no-repeat;
}
.mxy_em_022{
	width: 30px;
    height: 116px;
    left: 179px;
    display: block;
    position: absolute;
    top: 97px;
    transition: all .4s; 
    background: url(../img/tet_sprit03.png) -168px -252px no-repeat;
}
.mxy_em_031{
	width: 52px;
    height: 94px;
    left: 17px;
    top: 131px;
    display: block;
    transition: all .4s; 
    position: absolute;
    background: url(../img/tet_sprit03.png) -23px -263px no-repeat;
}
.mxy_em_032{
	width: 30px;
    height: 116px;
    left: 179px;
    display: block;
    position: absolute;
    top: 97px;
    transition: all .4s; 
    background: url(../img/tet_sprit03.png) -168px -252px no-repeat;
}
.mxy_em_041{
	width: 52px;
    height: 94px;
    left: 17px;
    top: 131px;
    display: block;
    transition: all .4s; 
    position: absolute;
    background: url(../img/tet_sprit03.png) -23px -263px no-repeat;
}
.mxy_em_042{
	width: 30px;
    height: 116px;
    left: 179px;
    display: block;
    position: absolute;
    top: 97px;
    transition: all .4s; 
    background: url(../img/tet_sprit03.png) -168px -252px no-repeat;
}
.mxy_em_051{
	width: 52px;
    height: 94px;
    left: 17px;
    top: 131px;
    display: block;
    transition: all .4s; 
    position: absolute;
    background: url(../img/tet_sprit03.png) -23px -263px no-repeat;
}
.mxy_em_052{
	width: 30px;
    height: 116px;
    left: 179px;
    display: block;
    position: absolute;
    top: 97px;
    transition: all .4s; 
    background: url(../img/tet_sprit03.png) -168px -252px no-repeat;
}
.mxy_em_061{
	width: 52px;
    height: 94px;
    left: 17px;
    top: 131px;
    display: block;
    transition: all .4s; 
    position: absolute;
    background: url(../img/tet_sprit03.png) -23px -263px no-repeat;
}
.mxy_em_062{
	width: 30px;
    height: 116px;
    left: 179px;
    display: block;
    position: absolute;
    top: 97px;
    transition: all .4s; 
    background: url(../img/tet_sprit03.png) -168px -252px no-repeat;
}
.mxy_em_071{
	width: 52px;
    height: 94px;
    left: 17px;
    top: 131px;
    display: block;
    transition: all .4s; 
    position: absolute;
    background: url(../img/tet_sprit03.png) -23px -263px no-repeat;
}
.mxy_em_072{
	width: 30px;
    height: 116px;
    left: 179px;
    display: block;
    position: absolute;
    top: 97px;
    transition: all .4s; 
    background: url(../img/tet_sprit03.png) -168px -252px no-repeat;
}
.thebg01{
	    display: block;
    background: url(../img/tet_sprit03.png) 0 0 no-repeat;
    background-position: -10px -23px;
    width: 228px;
    height: 169px;
    margin: 90px auto 0;
}
#thebg03{
	background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    background-position: -812px -90px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#thebg04{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    background-position: -1117px -90px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#tit01{
    width: 230px;
    height: 59px;
    line-height: 59px;
    background: #51a3f3;
    position: relative;
    text-align: center;
    color: #FFF;
    font-size: 20px;
}
#tit01 p{
	width: 230px;
    height: 59px;
    line-height: 59px;
    background: #51a3f3;
    position: relative;
    text-align: center;
    color: #FFF;
    font-size: 20px;
}
.thetimebg01{
	background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 71px;
    height: 53px;
    position: absolute;
    left: 144px;
    top: 40px;
    background-position: -507px -21px;
}
#theul01{
	    padding-top: 31px;
    background: #FFF;
}
.theulli{
	width: 230px;
    height: 40px;
    border-bottom: 1px solid #cccccc;
    line-height: 46px;
    color: #666666;
    font-size: 14px;
    position: relative;
}
.add{
	margin-left: 15px;
    overflow: hidden;
    text-align: center;
    float: left;
    height: 41px;	
}
.hot{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 22px;
    height: 13px;
    background-position: -415px -198px;
    margin: 10px 0 0 0;
    float: left;
}
.date{
    position: absolute;
    left: 126px;
    top: 0;
    float: left;
    height: 41px;
}
#themore{
	font-size: 16px;
    text-align: center;
    width: 230px;
    height: 54px;
    overflow: hidden;
    background: #FFF;
}
.themore00{
	width: 107px;
    height: 25px;
    margin: 13px auto;
    line-height: 25px;
    display: block;
    color: #51a3f3;
    border: 1px solid #51a3f3;
    border-radius: 15px;
}


#bgx02{
    background: url(../img/tet_sprit02.png) -499px -97px no-repeat;
    width: 185px;
    height: 180px;
    margin: 82px auto 0;
}
#zone02{
	background: url(../img/tet_sprit03.png) -1023px -442px no-repeat;
    width: 240px;
    height: 70px;
    position: absolute;
    top: 280px;
    left: 0px;
    z-index: 2;
}
#zone02 p{
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 29px;
    font-weight: bold;
}
#thebg05{
	background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -669px -183px;
}
#thebg06{
	background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -966px -181px;
}
#thebg07{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -812px -183px;
}
#thebg08{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -1117px -183px;
}
.zise{
	background-position: -274px -23px;
}
.timebg02{
	background-position: -593px -21px;
}


#bgx03{
	background: url(../img/tet_sprit02.png) -100px -330px no-repeat;
    width: 182px;
    height: 202px;
    margin: 60px auto 0;
}
#bgx04{
    background: url(../img/tet_sprit02.png) -496px -323px no-repeat;
    width: 188px;
    height: 209px;
    margin: 54px auto 0;
}
#bgx05{
    background: url(../img/tet_sprit02.png) -91px -576px no-repeat;
    width: 191px;
    height: 190px;
    margin: 73px auto 0;
}
#bgx06{
	background: url(../img/tet_sprit02.png) -500px -548px no-repeat;
    width: 183px;
    height: 218px;
    margin: 45px auto 0;
}
#bgx07{
    background: url(../img/tet_sprit02.png) -93px -810px no-repeat;
    width: 192px;
    height: 230px;
    margin: 32px auto 0;
}
#zone03{
	width: 240px;
    height: 70px;
    position: absolute;
    top: 280px;
    left: 0px;
    background: url(../img/tet_sprit03.png) -735px -541px no-repeat;
    z-index: 2;
}
#zone03 p{
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 29px;
    font-weight: bold;
}
#zone04{
    width: 240px;
    height: 70px;
    position: absolute;
    top: 280px;
    left: 0px;
    background: url(../img/tet_sprit03.png) -1023px -541px no-repeat;
    z-index: 2;
}
#zone04 p{
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 29px;
    font-weight: bold;
}
#zone05{
    width: 240px;
    height: 70px;
    position: absolute;
    top: 280px;
    left: 0px;
   	background: url(../img/tet_sprit03.png) -735px -644px no-repeat;
    z-index: 2;
}
#zone05 p{
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 29px;
    font-weight: bold;
}
#zone06{
    width: 240px;
    height: 70px;
    position: absolute;
    top: 280px;
    left: 0px;
    background: url(../img/tet_sprit03.png) -1023px -644px no-repeat;
    z-index: 2;
}
#zone06 p{
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 29px;
    font-weight: bold;
}
#zone07{
    width: 240px;
    height: 70px;
    position: absolute;
    top: 280px;
    left: 0px;
    background: url(../img/tet_sprit03.png) -735px -743px no-repeat;
    z-index: 2;
}
#zone07 p{
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 29px;
    font-weight: bold;
}
#the_line02{
	background: url(../img/tet_sprit01.png) no-repeat;
    background-position: -507px -115px;
    display: block;
    width: 139px;
    height: 3px;
    margin: 0 auto;
    margin-top: 9px;
	margin-left: -69.5px;
}
#the_line03{
	background: url(../img/tet_sprit01.png) no-repeat;
    background-position: -507px -133px;
    display: block;
    width: 139px;
    height: 3px;
    margin: 0 auto;
    margin-top: 9px;
	margin-left: -69.5px;
    
}
#the_line04{
	background: url(../img/tet_sprit01.png) no-repeat;
    background-position: -507px -149px;
    display: block;
    width: 139px;
    height: 3px;
    margin: 0 auto;
    margin-top: 9px;
	margin-left: -69.5px;
    
}
#the_line05{
	background: url(../img/tet_sprit01.png) no-repeat;
    background-position: -507px -166px;
    display: block;
    width: 139px;
    height: 3px;
    margin: 0 auto;
    margin-top: 9px;
	margin-left: -69.5px;
    
}
#the_line06{
	background: url(../img/tet_sprit01.png) no-repeat;
    background-position: -507px -184px;
    display: block;
    width: 139px;
    height: 3px;
    margin: 0 auto;
    margin-top: 9px;
	margin-left: -69.5px;
    
}
#the_line07{
	background: url(../img/tet_sprit01.png) no-repeat;
	background-position: -507px -202px;    
	display: block;
    width: 139px;
    height: 3px;
    margin: 0 auto;
    margin-top: 9px;
	margin-left: -69.5px;
    
}
#thebg09{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -10px -275px;
}
#thebg10{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -340px -275px;
}
#thebg11{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
	background-position: -179px -275px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#thebg12{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -501px -275px;
}
#thebg13{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
	background-position: -669px -275px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#thebg14{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -966px -275px;
}
#thebg15{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
	background-position: -812px -275px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#thebg16{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -1117px -275px;
}
#thebg17{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
	background-position: -10px -377px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#thebg18{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -340px -377px;
}
#thebg19{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
	background-position: -179px -377px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#thebg20{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -501px -377px;
}
#thebg21{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
	background-position: -669px -377px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#thebg22{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -966px -377px;
}
#thebg23{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
	background-position: -812px -380px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#thebg24{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position: -1117px -380px;
}
#thebg25{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
	background-position: -10px -482px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#thebg26{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position:-530px -482px;
}
#thebg27{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
	background-position: -179px -482px;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
}
#thebg28{
    background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    width: 127px;
    height: 86px;
    margin: 20px auto 0;
    background-position:-691px -482px;
}
.chengse{
	background-position: -534px -23px;
}
.lvse{
	background-position: -798px -23px;
}
.lanse{
	background-position: -1067px -23px;
}
.jvse{
	background-position: -129px -471px;
}
.caose{
	background-position: -437px -471px;
}
.time03{
	background-position: -679px -21px;
}
.time04{
	background-position: -768px -21px;
}
.time05{
	background-position: -855px -21px;;
}
.time06{
	background-position: -939px -21px;
}
.time07{
	background-position: -1022px -21px;
}
.m01{
	color: #51a3f3;
    border: 1px solid #51a3f3;
}
.m01:hover{
	color:white;
	background:  #51a3f3;
}
.m02{
	color: #5b74f0;
    border: 1px solid #5b74f0;
}
.m02:hover{
	color:white;
	background:  #5b74f0;
}
.m03{
    color: #ec7134;
    border: 1px solid #ec7134;
}
.m03:hover{
	color:white;
	background: #ec7134;
}
.m04{
	color: #30c8a2;
    border: 1px solid #30c8a2;
}
.m04:hover{
	color:white;
	background: #30c8a2;
}
.m05{
    color: #8ba2e4;
    border: 1px solid #8ba2e4;
}
.m05:hover{
	color:white;
	background: #8ba2e4;
}
.m06{
    color: #ffa800;
    border: 1px solid #ffa800;
}
.m06:hover{
	color:white;
	background: #ffa800;
}
.m07{
	color: #b7e356;
    border: 1px solid #b7e356;
}
.m07:hover{
	color:white;
	background:#b7e356;
}
.left_mxy01{
	width: 35px;
    height: 69px;
    background: url(../img/tet_sprit02.png) -52px -80px no-repeat;
    position: absolute;
    left: 21px;
    top: 53px;
    transition: all .4s;
}
.right_mxy01{
	width: 58px;
    height: 83px;
    background: url(../img/tet_sprit02.png) -287px -91px no-repeat;
    position: absolute;
    left: 163px;
    transition: all .4s;
    top: 38px;
}
.left_mxy02{
    width: 35px;
    height: 69px;
    background: url(../img/tet_sprit02.png) -456px -56px no-repeat;
    position: absolute;
    left: 21px;
    transition: all .4s;
    top: 53px;
}
.right_mxy02{
    width: 64px;
    height: 62px;
    background: url(../img/tet_sprit02.png) -691px -56px no-repeat;
    transition: all .4s;
    position: absolute;
    left: 163px;
    top: 38px;
}
.left_mxy03{
    width: 33px;
    height: 108px;
    background: url(../img/tet_sprit02.png) -46px -345px no-repeat;
    position: absolute;
    transition: all .4s;
    left: 16px;
    top: 40px;
}
.right_mxy03{
    width: 86px;
    height: 118px;
    background: url(../img/tet_sprit02.png) -294px -307px no-repeat;
    transition: all .4s;
    position: absolute;
    left: 143px;
    top: 37px;
}
.left_mxy04{
   	width: 61px;
    height: 158px;
    background: url(../img/tet_sprit02.png) -427px -313px no-repeat;
    position: absolute;
    transition: all .4s;
    left: 21px;
    top: 52px;
}
.right_mxy04{
    width: 38px;
    height: 143px;
    background: url(../img/tet_sprit02.png) -710px -318px no-repeat;
    transition: all .4s;
    position: absolute;
    left: 191px;
    top: 38px;
}
.left_mxy05{
   	width: 35px;
    height: 68px;
    background: url(../img/tet_sprit02.png) -32px -578px no-repeat;
    position: absolute;
    left: 21px;
    transition: all .4s;
    top: 53px;
}
.right_mxy05{
    width: 64px;
    height: 59px;
    background: url(../img/tet_sprit02.png) -295px -563px no-repeat;
    position: absolute;
    transition: all .4s;
    left: 163px;
    top: 38px;
}
.left_mxy06{
    width: 34px;
    height: 68px;
    background: url(../img/tet_sprit02.png) -428px -577px no-repeat;
    position: absolute;
    transition: all .4s;
    left: 12px;
    top: 62px;
}
.right_mxy06{
    width: 36px;
    transition: all .4s;
    height: 123px;
    background: url(../img/tet_sprit02.png) -714px -547px no-repeat;
    position: absolute;
    left: 181px;
    top: 48px;
}
.left_mxy07{
    width: 40px;
    transition: all .4s;
    height: 48px;
    background: url(../img/tet_sprit02.png) -29px -842px no-repeat;
    position: absolute;
    left: 16px;
    top: 40px;
}
.right_mxy07{
    width: 33px;
    transition: all .4s;
    height: 81px;
    background: url(../img/tet_sprit02.png) -327px -824px no-repeat;
    position: absolute;
    left: 181px;
    top: 33px;
}
#ni_bigtit{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
#ni_bigtit h1{
    color: #444444;
    font-size: 22px;
    height: 72px;
    margin-left: 13px;
    line-height: 90px;
    float: left;
}
#bigtit_bg{
    background-position: -370px -124px;
    width: 28px;
    height: 28px;
    margin-top: 30px;
	float: left;
}
#toleft{
    background: url(../img/ni_bigtit_toleft_act.png) 0 0 no-repeat;
    width: 37px;
    height: 23px;
    margin-top: 30px;
    cursor: pointer;
    float: right;
}
#toright{
	width: 38px;
    height: 23px;
    margin-top: 30px;
    cursor: pointer;
    background: url(../img/ni_bigtit_torigh.png) 0 0 no-repeat;
    float: right;
}
#ni_studs{
    width: 1200px;
    height: 233px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
}
#ni_studs_ul{
	width: 2430px;
    left: -10px;
    position: absolute;
    top: 0;
    transition: all 0.5s;
}
#ni_studs_ul li{
	float: left;
    border: 1px solid #e4e4e4;
    margin-left: 10px;
    color: #666666;
    cursor: pointer;
}
.img{
	width: 230px;
    height: 192px;
    background-size: 100%;
}
.studs01{
	background: url(../img/597061a271b97.jpg);
}
.studs02{
	background: url(../img/59705df36c475.jpg);
}
.studs03{
	background: url(../img/5967107da2bbe.jpg);
}
.studs04{
	background: url(../img/5966cf6a6c371.jpg);
}
.studs05{
	background: url(../img/596580688bbef.jpg);
}
.studs06{
	background: url(../img/59648e2089935.jpg);
}
.studs07{
	background: url(../img/5964421c66e30.jpg);
}
.studs08{
	background: url(../img/59630cd2ef6fe.jpg);
}
.studs09{
	background: url(../img/5959ac512007f.jpg);
}
.studs10{
	background: url(../img/5956221804d7e.jpg);
}
#ni_studs_ul a{
	color: inherit;
	display: block;
}
.int{
	width: 230px;
    height: 39px;
    background: #eeeeee;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
}
.ni_com{
	width: 1200px;
    margin: 0 auto;
    padding-top: 7px;
    border-top: 1px solid #cccccc;
    font-size: 14px;
    color: #444444;
    line-height: 38px;
    overflow: hidden;
}
.ni_com span{
	float: left;
}
.ni_com li{
	float: left;
    margin-left: 30px;
}
.sp01{
    width: 140px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
.sp02{
    width: 140px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.ni_com a{
	float: left;
}
.theqq{
	background: url(../img/tet_sprit01.png) 0 0 no-repeat;
    background-position: -401px -518px;
    position: relative;
    width: 97px;
    height: 22px;
    margin-top: 7px;
}
.theqq img{
	position: absolute;
	top: 1px;
	left: 8px;
}
.ni_city{
	width: 1200px;
    margin: 0 auto 10px;
    border-left: 1px solid #4cc2ff;
    overflow: hidden;
}
.ni_city li{
	float: left;
    width: 119px;
    border: 1px solid #36a8ff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    height: 33px;
    line-height: 33px;
    border-left: none;
    cursor: pointer;
}
.active{
	background: #36a8ff;
    color: #FFF;
}
#ni_as{
	width: 1230px;
    margin: 0 auto;
    line-height: 30px;
    padding-right: 30px;
    margin-bottom: 22px;
    color: #333333;
}
#ni_as a{
	font-size: 14px;
    color: #333333;
    display: inline-block;
    margin-left: 30px;
}
.lbtu{
    height: 203px;
    width: 1200px;
    margin: 0px auto;
    position: relative;
    left: 50%;
    margin-left: -600px;
    overflow: hidden;
    
}
.citylb{
	width: 1510px;
	overflow: hidden;
	position: absolute;
	left: 0;
	display: none;
}

.citylb div{
	height: 203px;
    margin-right: 9px;
    width: 293px;
    float: left;
}

.lb01{
	background: url(../img/01.jpg) 0 0 no-repeat;
}
.lb02{
	background: url(../img/02.jpg) 0 0 no-repeat;
}
.lb03{
	background: url(../img/03.jpg) 0 0 no-repeat;
}
.lb04{
	background: url(../img/04.jpg) 0 0 no-repeat;
}
.lb05{
	background: url(../img/05.jpg) 0 0 no-repeat;
}
.lb11{
	background: url(../img/11.jpg) 0 0 no-repeat;
}
.lb12{
	background: url(../img/12.jpg) 0 0 no-repeat;
}
.lb13{
	background: url(../img/13.jpg) 0 0 no-repeat;
}
.lb14{
	background: url(../img/14.jpg) 0 0 no-repeat;
}
.lb15{
	background: url(../img/15.jpg) 0 0 no-repeat;
}
.lb21{
	background: url(../img/21.jpg) 0 0 no-repeat;
}
.lb22{
	background: url(../img/22.jpg) 0 0 no-repeat;
}
.lb23{
	background: url(../img/23.jpg) 0 0 no-repeat;
}
.lb24{
	background: url(../img/24.jpg) 0 0 no-repeat;
}
.lb25{
	background: url(../img/25.jpg) 0 0 no-repeat;
}
.lb26{
	background: url(../img/26.jpg) 0 0 no-repeat;
}
.lb31{
	background: url(../img/21.jpg) 0 0 no-repeat;
}
.lb32{
	background: url(../img/22.jpg) 0 0 no-repeat;
}
.lb33{
	background: url(../img/23.jpg) 0 0 no-repeat;
}
.lb34{
	background: url(../img/24.jpg) 0 0 no-repeat;
}
.lb41{
	background: url(../img/41.jpg) 0 0 no-repeat;
}
.lb42{
	background: url(../img/42.jpg) 0 0 no-repeat;
}
.lb43{
	background: url(../img/43.jpg) 0 0 no-repeat;
}
.lb44{
	background: url(../img/44.jpg) 0 0 no-repeat;
}
.lb45{
	background: url(../img/45.jpg) 0 0 no-repeat;
}
.lb46{
	background: url(../img/46.jpg) 0 0 no-repeat;
}
.lb47{
	background: url(../img/47.jpg) 0 0 no-repeat;
}
.lb48{
	background: url(../img/48.jpg) 0 0 no-repeat;
}
.lb51{
	background: url(../img/51.jpg) 0 0 no-repeat;
}
.lb52{
	background: url(../img/52.jpg) 0 0 no-repeat;
}
.lb53{
	background: url(../img/53.jpg) 0 0 no-repeat;
}
.lb54{
	background: url(../img/54.jpg) 0 0 no-repeat;
}
.lb55{
	background: url(../img/55.jpg) 0 0 no-repeat;
}
.lb56{
	background: url(../img/56.jpg) 0 0 no-repeat;
}
.lb57{
	background: url(../img/57.jpg) 0 0 no-repeat;
}
.lb58{
	background: url(../img/58.jpg) 0 0 no-repeat;
}
.lb61{
	background: url(../img/61.jpg) 0 0 no-repeat;
}
.lb62{
	background: url(../img/62.jpg) 0 0 no-repeat;
}
.lb63{
	background: url(../img/63.jpg) 0 0 no-repeat;
}
.lb64{
	background: url(../img/64.jpg) 0 0 no-repeat;
}
.lb65{
	background: url(../img/65.jpg) 0 0 no-repeat;
}
.lb71{
	background: url(../img/71.jpg) 0 0 no-repeat;
}
.lb72{
	background: url(../img/72.jpg) 0 0 no-repeat;
}
.lb73{
	background: url(../img/73.jpg) 0 0 no-repeat;
}
.lb74{
	background: url(../img/74.jpg) 0 0 no-repeat;
}
.lb75{
	background: url(../img/75.jpg) 0 0 no-repeat;
}
.lb76{
	background: url(../img/76.jpg) 0 0 no-repeat;
}
.lb77{
	background: url(../img/77.jpg) 0 0 no-repeat;
}
.lb78{
	background: url(../img/78.jpg) 0 0 no-repeat;
}
.lb81{
	background: url(../img/81.jpg) 0 0 no-repeat;
}
.lb82{
	background: url(../img/82.jpg) 0 0 no-repeat;
}
.lb83{
	background: url(../img/83.jpg) 0 0 no-repeat;
}
.lb84{
	background: url(../img/84.jpg) 0 0 no-repeat;
}
.lb91{
	background: url(../img/91.jpg) 0 0 no-repeat;
}
.lb92{
	background: url(../img/92.jpg) 0 0 no-repeat;
}
.lb93{
	background: url(../img/93.jpg) 0 0 no-repeat;
}
.lb94{
	background: url(../img/94.jpg) 0 0 no-repeat;
}
.lb95{
	background: url(../img/95.jpg) 0 0 no-repeat;
}
.lb96{
	background: url(../img/96.jpg) 0 0 no-repeat;
}
.lb97{
	background: url(../img/97.jpg) 0 0 no-repeat;
}
.ni_left{
	position: fixed;
    left: 0;
    top: 50%;
    height: 580px;
    margin-top: -278px;
    z-index: 10;
    background: white;
    -webkit-box-shadow: 0.7px 0.7px 27px 0 rgba(39, 40, 42, 0.15);
    -moz-box-shadow: 0.7px 0.7px 27px 0 rgba(39, 40, 42, 0.15);
    box-shadow: 0.7px 0.7px 27px 0 rgba(39, 40, 42, 0.15);
}

.ni_left p{
	line-height: 28px;
    text-align: center;
    font-size: 12px;
}
.ni_left img{
    font-size: 24px;
    color: #00abf7;
    margin: 22px auto 0;
    display: block;
    width: 24px;
}
.act{
	background: #00abf7;
    font-size: 13px;
    color: #4f5362;
    text-align: center;
}

.ni_left a{
	color:#4f5362;
	    width: 79px;
    height: 83px;
    display: block;
    overflow: hidden;
}
.act a{
	color: #ffffff;
    width: 79px;
    height: 83px;
    display: block;
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    #advert{width:1300px;}
    #head{width:1300px;}
    #swiper{width:1300px;}
    .ni_con{width:1300px;}
    .ni_adv img{width:1300px;}
    #foot{width:1300px;}
    .lbtu{width:1300px;}
    
	
}